
.Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 100vh;
    background-color: aqua;
}

.Landing h2 {
    font-size: 1rem;
}

.Landing h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.Landing img {
    border-radius: 5rem;
    height: 10rem;
}
