
/* Nav */
header {
    position: sticky;
    top: 0;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
    color: white;
    background-color: black;
}

.Nav ul {
    display: flex;
    gap: .5rem;
    padding-left: 0;
}

.Nav li {
    list-style: none;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav a:hover {
    color: red;
}

/* Landing/About */
.Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100vh;
    background-color: aqua;
}

.Landing h2 {
    font-size: 1rem;
}

.Landing h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.Landing img {
    border-radius: 5rem;
    height: 10rem;
}

/* Projects */
.Projects {
    padding: 2rem 1rem;
    background-color: antiquewhite;
}

.Projects h3 {
    text-align: center;
    font-size: 1.7rem;
    margin: 0 0 2rem 0;
}

.Projects__grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 1rem;
}

.Projects__ticket {
    background-color: white;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 2rem rgba(0, 0, 0, 0.354);
}

.Projects__ticket img {
    width: 100%;
    border-radius: .5rem;
}

.Projects__ticket h4 {
    margin: .5rem .5rem;
}

.Projects__ticket p {
    font-size: .9rem;
    margin: .5rem;
}

/* Contact */
.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3rem;
    width: 100%;
    background-color: black;
}
