header {
    width: 100vw;
}

.active {
    position: fixed;
    top: 0;
    transition-duration: .2s;
}

.hidden {
    position: fixed;
    top: -3rem;
    transition-duration: .2s;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 3rem;
    color: white;
    background-color: black;
}

.Nav ul {
    display: flex;
    gap: .5rem;
    padding-left: 0;
}

.hidden {
    position: fixed;
    top: -3rem;
    transition-duration: .2s;
}

.Nav li {
    list-style: none;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav a:hover {
    color: red;
}

@media all and (max-width: 430px) {
    .Nav {
        padding: 0 1rem;
    }
}
