
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 3rem;
    width: 100%;
    color: white;
    background-color: black;
}

.Nav ul {
    display: flex;
    gap: .5rem;
    padding-left: 0;
}

.Nav li {
    list-style: none;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav a:hover {
    color: red;
}
